{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Lists</title>
    <link rel="stylesheet" href="{% static 'Ecommerce/style.css' %}"></link>
  
  </head>
  <body>
    <div class="container">
        <div class="customer_details">
            <h3> {{customer.first_name}} {{customer.last_name}} {{customer.email}}</h3>
            <p> <strong>Phone Number</strong> {{customer.phone}} </p>
            <p> <strong>Address</strong> {{customer.address}} </p>
            <p> <strong>Email</strong> {{customer.email}} </p>
            <p> <strong>Joined on:</strong> {{customer.created_at}} </p>
        
        </div>
      {% comment "" %} <a href=" {% url 'customer_list' %} "class="back-link">Back to Customer List</a> {% endcomment %}
    

    </div>
  </body>
  {% comment "" %}<a href=" {% url 'Ecomerce:customer_list' %}" class="back-link">Back to Customer List</a>  {% endcomment %}

</html>